<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" th:href="@{'/css/reset.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/main.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/header.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/tags.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/content.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/page.css'}"/>
</head>
<body>
<div class="main flex flex-column">
    <header th:replace="component/header"></header>
    <div class="main-body flex flex-column">
        <div>
            <div class="mb-2">
                <a href="/admin/tag/edit">新增标签</a>
            </div>
            <div>
                <div class="flex flex-row justify-between mb-1" th:each="tag: ${tagPage.content}">
                    <div th:text="${ 'ID: ' + tag.id + '   title: ' + tag.name }"></div>
                    <div>
                        <a th:href="${ '/admin/tag/edit/' + tag.id }">编辑</a>
                        <a th:href="${ '/admin/tag/delete/' + tag.id }">删除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="component/footer"></div>
</div>
</body>
</html>